<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function DeleteTable(id) {
            let con = confirm(`Are you sure to delete table ${id}?`);
            if(con) {
                window.location.href = `/delete?tableID=${id}`;
            }  
        }

        function SelectTable(id) {
            let quota = window.prompt(`You select Table ${id}!\n Enter Quota:`, "");
            window.location.href = `/generate?tableID=${id}&maxQuota=${quota}`;
        }
    </script>

    <h1>Admin</h1>
    <div class="tableData">
        <% info.database.forEach(table=> { %>
            <div class="tableDataItem">
                <b>#<%= table[0] %></b>
                <div><%= table[1] %></div>
                <% if(table[1] == 'Empty') { %>
                    <button onclick="SelectTable(<%= table[0] %>)">
                        Select
                    </button>
                <% } else { %>
                    <div>[<%= table[3] %> / <%= table[2] %>]</div>
                    <button style="background: red;" onclick="DeleteTable(<%= table[0] %>)">
                        Delete
                    </button>
                <% } %>
            </div>
            
        <% }); %>
    </div>
    
    <form action="delete" method="post">
        <div class="option">
            <lable for="tableID">TableID:</lable>
            <input type="number" name="tableID" id="tableID" />
        </div>

        <button type="submit">Delete Data</button>
    </form>

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .option {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px;
            font-size: 30px; 
        }
        lable {
            margin-right: 10px;
        }

        input {
            height: 100%;
            width: 100px;
            font-size: 30px;
            border: 1px solid black;
            border-radius: 10px;
            text-align: center;
        }

        button {
            /* font-size: 30px; */
            border: 1px solid black;
            border-radius: 10px;
            /* width: 250px; */
            background-color: dodgerblue;
            color: white;
        }

        .tableData {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
        .tableDataItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: aquamarine;
            border-radius: 10px;
            padding: 10px;
            height : 80px;
        }
    </style>
</body>
</html>